---
layout: single
author_profile: false
title: ""

header:
    overlay_colour: ""
    overlay_filter: "0.5"
    overlay_image: "/assets/images/talk-svg_silh-cc0.svg"

sidebar:
    nav: "sidebar"

intro:
- excerpt: "<p>A forum and resource for people involved with Free/Libre and Open Source Software-related foundations.</p><p><a href=\"/2024-fosdem-events\">See what's happening during and around FOSDEM 2024.</a></p>"

feature_row:
    - image_path: /assets/images/directory-svg_silh-cc0.svg
      alt: "Foundations Directory"
      title: "Foundations Directory"
      excerpt: "[View the directory of worldwide FLOSS foundations](/foundation-directory/)"
    - image_path: /assets/images/mailing_list-svg_silh-cc0.svg
      alt: "Mailing List"
      title: "Mailing List"
      excerpt: "Join the conversation; [join the mailing list](http://lists.freedesktop.org/mailman/listinfo/foundations)! Members also can view the extensive archives."
    - image_path: /assets/images/chat-svg_silh-cc0.svg
      alt: "IRC Channel"
      title: "IRC Channel"
      excerpt: "Please join us on [`#foundations`](https://web.libera.chat/#foundations) on the Libera.chat IRC network."
---

<!-- This text is in the "intro" array above -->
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
